* {
  margin: 0;
  padding: 0;
}

main {
  display: flex;
  flex-direction: column;
}

.header {
  display: grid;
  grid-template-columns: 1fr 1.23fr 1fr;
  margin: 88px 24px 95px 24px;
  align-items: center;
}

.header__links-list {
  display: flex;
  gap: 34px;
  padding: 44px 37px 39px 25px;
}

.header__links-list-item {
  list-style: circle;
  line-height: 1.5;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__link {
  font-size: 18px;
  white-space: nowrap;
}

.text-link {
  font-style: normal;
}

.text-link:hover {
  background-color: black;
  color: white;
}

.header__link_active {
  text-decoration: none;
}

.header__logo-image {
  width: 140px;
  height: 105px;
  display: block;
}

.address {
  padding-top: 7px;
  font-style: normal;
}

.address__item {
  display: block;
  font-size: 18px;
  text-underline-position: under;
  line-height: 1.3;
}

.address__address-text {
  font-size: 18px;
  line-height: 1.35;
}

.cover {
  position: relative;
  width: 100%;
  min-height: 757px;
  padding: 161px 48px 51px 48px;
  background-image: url(../images/cover.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 179px;
}

.overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 60%;
}

.cover__title {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  width: 1000px;
  color: white;
  font-size: 100px;
  font-weight: bold;
  letter-spacing: 30px;
  text-transform: uppercase;
}

.align-text {
  display: block;
  text-align: center;
}

.aligned-text_center {
  text-align: center;
  line-height: 1.4;
}

.aligned-text_right {
  text-align: right;
  line-height: 1;
}

.letter-spacing-extended {
  letter-spacing: 60px;
}

.remove-spacing {
  letter-spacing: normal;
}

.cover__description {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: flex-end;
}

.cover__description-text {
  font-size: 22px;
  text-transform: uppercase;
  word-spacing: 18px;
  color: white;
  padding: 148px 80px 0px 0px;
}

.button {
  border: 1px white solid;
  font-family: "Raleway", sans-serif;
  min-width: 256px;
  height: 51px;
  font-weight: normal;
  font-size: 22px;
  text-transform: uppercase;
  background-color: transparent;
  color: white;
  margin-top: 135px;
}

.lots {
  width: 1052px;
  margin: 0px 24px 146px 24px;
}

.lots__heading {
  margin: 0px 891px 35px 40px;
  font-weight: bold;
  font-size: 40px;
  line-height: 1;
  text-transform: uppercase;
}

.lots__card-list {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 25px;
  row-gap: 27px;
}

.lots__card-list-item {
  width: 334px;
}

.card-link {
  display: block;
  height: 100%;
  text-decoration: none;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 334px;
  min-height: 563px;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}
.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.card__title {
  position: relative;
  z-index: 1;
  font-weight: bold;
  font-size: 22px;
  text-decoration: underline;
  text-transform: uppercase;
  text-underline-offset:4px;
  text-decoration-thickness: 1px;
  padding: 51px 40px 0px 40px;
  color: white;
}

.card__text {
  position: relative;
  text-decoration: none;
  z-index: 1;
  font-size: 20px;
  padding: 0px 40px 48px 40px;
  color: white;
  line-height: 1.22;
}

.lots__look-more-link {
  display: block;
  margin: 29px 820px 2px 40px;
  font-size: 20px;
  text-decoration-line: underline;
  text-underline-position: under;
  width: fit-content;
}

.about {
  display: grid;
  grid-template-columns: 359px 1fr;
  width: 1052px;
  margin: 0px 24px 178px 24px;
}

.about__column {
  width: 693px;
}

.about__column_text {
  grid-column: 2;
}

.about__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background-color: black;
  margin: 35px 0px 320px 47px;
}

.about__logo-image {
  width: 141px;
  height: 112px;
}
/*блок заголовка и текста*/
.about__title {
  margin: 140px 0px 13px 0px;
  font-weight: bold;
  font-size: 40px;
  line-height: 1;
  text-transform: uppercase;
}

.about__text {
  display: flex;
  flex-direction: column;
  gap: 25px;
  font-size: 20px;
  line-height: normal;
  margin-top: 100px;
}

.footer__menu-section {
  display: grid;
  grid-template-columns: 1fr 1.25fr 1fr;
  width: 1000px;
  min-height: 98px;
  margin: 0px 50px 88px 50px;
  font-style: inherit;
}

.footer__menu-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-underline-position: under;
  list-style: none;
  font-size: 18px;
}

.footer__social-list {
  display: flex;
  gap: 48px;
  justify-content: flex-end;
}

.footer__logo {
  width: 48px;
}
